<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyFilmweb</title>
</head>
<body>
{% block content %}
<h1>Lista filmów</h1>
    <ul>
        {% for movie in movies %}
        <li> <a href = http://127.0.0.1:8000/movie_details/{{movie.pk}}/>"{{movie.title}}"</a>,
        {{movie.year}}, {{movie.director.last_name}}, {{movie.rating}}
            <a href = http://127.0.0.1:8000/edit_movie/{{movie.pk}}/> | edit</a></li>
        {% empty %}
        <p>Lista jest pusta</p>
        {% endfor %}
    </ul>
<p><a href = http://127.0.0.1:8000/add_movie/{{movie.pk}}/>Dodaj film</a></p>
{% endblock content %}
</body>
</html>